{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sociogram</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}

    </head>
    <body class="">
        {% block navbar %}
        <nav class="h-[60px] bg-gray-900 text-white">
            <div class="flex items-center  justify-between h-full mx-2">
                <h2 class="text-xl font-bold">Sociogram</h2>

                <div class="nav-links flex space-x-2">
                    <div>
                        <button id='post-btn' class="bg-gray-400 py-2 px-3 text-black rounded-md">New Post</button>
                    </div>
                    <div class="relative">
                        <img 
                            src="./static/images/pic.jpeg" 
                            alt="user-avatar"
                            class="avatar h-10 w-10 rounded-full"
                        />

                        <div class="dropdown hidden z-10 absolute bg-gray-400 text-black right-4 rounded-md mt-1 divide-y divide-gray-100 w-24 md:w-40">
                            <ul class="py-2 text-sm text-black font-bold">
                                <li>
                                    <a 
                                        href={% url 'accounts:profile' username %} 
                                        class="block px-4 py-1 hover:text-pink-700 w-full"
                                    >
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a 
                                        href= {% url 'accounts:logout' %}
                                        class="block px-4 py-1 hover:text-pink-600 w-full"
                                    >
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% endblock navbar%}
        {% block content %}
        {% endblock content %}

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>