{% extends "base.html" %}
{% block content %}
    <section>
        <nav class="bg-slate-900 h-16 flex items-center justify-between">
            <div class="ml-1">
                <a class="text-gray-50 text-lg lg:text-2xl">Home</a>
            </div> 
            <form>
                <input 
                    type="text username"
                    name="username"
                    class="py-2 px-10 bg-white outline-none rounded-lg"
                    placeholder="search for usernames...."
                />
            </form>
            <div class="relative dropdown-sec">
                <img 
                    alt="profile picture"
                    class="mr-1 h-10 w-10 rounded-full"
                    src="./static/images/pic.jpeg"
                />
                <div class="dropdown absolute bg-gray-300 rounded-lg p-5 right-6 w-28 cursor hidden">
                    <a>Profile</a>
                    <button>Log out<button/>
                </div>
            <div>
        </nav>
    </section>
{% endblock content %}