{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body>
    <div class="flex items-center space-x-2 bg-slate-800 text-white pl-3">
        <div>
            <a href="" class="block">
                <svg class="w-3.5 h-3.5 ms-2 -rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>

        <div>
            <h2>Excellent Musau</h2>
            <p>18 posts</p>
        </div>
    </div>

    <div
        class="modal hidden fixed z-[1] left-0 top-0 w-full h-full overflow-auto bg-[rgba(0,0,0,0.4)]"
    >
        <div class="modal-content bg-slate-800 max-w-md w-full text-white rounded-md mt-[15%] mx-auto px-5 py-">
            <div class="flex justify-between items-center pt-2">
                <h1 class="text-lg font-semibold">Edit Profile</h1>
                <button type="button">
                    <span class="close-btn text-[#aaa] float-right font-bold text-xl cursor-pointer">&times;</span>
                </button>
            </div>
        
        
            <form class="flex flex-col pt-3" enctype="multipart/form-data">
                <label class="block mb-2 text-lg text-white" for="back-img">Background image</label>
                <input 
                    id="back-img" 
                    name="background-img" 
                    class="rounded-md block w-full text-sm cursor-pointer bg-slate-700 py-1.5"
                    type="file" 
                />

                <label class="block mb-2 text-lg text-white" for="profile-img">Profile image</label>
                <input 
                    id="profile-img" 
                    name="profile-img"
                    placeholder="image" 
                    class="rounded-md block w-full text-sm cursor-pointer bg-slate-700 py-1.5"
                    type="file" 
                />

                <label class="block mb-2 text-lg text-white" for="name">Name</label>
                <input 
                    id="name" 
                    name="name"
                    placeholder="Enter name" 
                    class="rounded-md block w-full text-sm cursor-pointer bg-slate-700 py-2 px-1 outline-none"
                />

                <label class="block mb-2 text-lg text-white" for="bio">Bio</label>
                <input 
                    id="bio" 
                    name="bio"
                    placeholder="Enter Bio" 
                    class="rounded-md block w-full text-sm cursor-pointer bg-slate-700  py-2 px-1 outline-none" 
                />

                <label class="block mb-2 text-lg text-white" for="location">Location</label>
                <input 
                    id="location" 
                    name="location"
                    placeholder="Enter location" 
                    class="rounded-md block w-full text-sm cursor-pointer bg-slate-700  py-2 px-1 outline-none" 
                />

                <div class="flex justify-center py-2 pb-3">
                    <button type="submit" class="py-2 bg-slate-700 w-[100%] rounded-md text-white">Save</button>
                </div>
        
            </form>
        </div>
    </div>

    <div class="bg-slate-700 h-screen">
        <div class="">
            <img
                src="{% static 'images/back.jpg'%}"
                class="object-cover w-full h-32"
                alt="profile background image"
            />
        </div>
        <div class="flex justify-between items-center">
            <div
                class="w-32 h-32 relative border-4 border-slate-800 rounded-md ml-4 -mt-16"
            >
                <img 
                    src="{% static 'images/pic.jpeg' %}" 
                    class="object-cover" 
                    alt="profile image"
                />
            </div>

            <div>
                <a href="#" class="edit-btn py-2 px-2 bg-slate-800 text-white rounded-full mr-4">
                    Edit Profile
                </a>
            </div>
            
        </div>

        <div class="text-white ml-4">
            <h1 class="font-bold text-lg">Wycliffe Musau</h1>
            <p class="text-lg">bio: philosopher</p>
            <div class="flex space-x-4 text-lg">
                <p><span class="font-bold">300</span> Following</p>
                <p><span class="font-bold">1000</span> Followers</p>
            </div>
        </div>

        <div class="flex flex-col items-center  mt-4 border-t border-slate-800">
            <div class="">
                <h1 class="text-white text-lg font-bold">Posts</h1>
        
                <div class="post-section border-l border-r border-slate-800">
                    post 1
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>